    .search-container {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            padding: 8px 12px;
            border-radius: 50px; 
            width: 100%;
            max-width: 900px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

            
            border: 3px solid transparent;
            background: 
                linear-gradient(white, white) padding-box, 
                linear-gradient(90deg, var(--cor-destaque-amarelo), var(--cor-destaque-verde), var(--cor-primaria)) border-box; 
        }

        .input-group {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }

        .input-group:has(input[name="localizacao"]),
        .input-group:has(select[name="data"]) {
            flex-grow: 0.7;
        }
        
        .input-group i {
            margin: 0 10px;
            color: var(--cor-secundaria);
        }
        
      
        .search-input {
            border: none;
            outline: none; 
            background: none;
            width: 100%;
            font-size: 16px;
            color: #333;
        }

        .search-input::placeholder {
            color: #b0b0b0; 
        }

        .search-input[name="data"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            color: #b0b0b0;
        }

        .search-input[name="data"]:valid {
            color: #333;
        }

        .search-input[name="data"] option {
            color: #333; /* Garante que as opções no dropdown sejam pretas */
        }
       
        .divider {
            width: 1px;
            height: 25px;
            background-color: #e0e0e0;
            margin: 0 15px;
        }

      
        .search-button {
            display: flex;
            align-items: center;
            background-color: var(--cor-primaria);
            color: white;
            border: none;
            border-radius: 50px; 
            padding: 12px 24px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-left: 10px;
        } 
        .search-button:hover {
            background-color: #001f5a;
        }
        .search-button i {
            margin-right: 8px;
        }

        .carregar-mais-container{
            display: flex;
            justify-content: center;
        }

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        gap: 15px;
        border-radius: 20px;
        padding: 15px;
    }

    .search-container .divider {
        display: none; /* Esconde os divisores verticais */
    }

    .input-group {
        width: 100%;
    }

    .search-button {
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }
}